html {
	scroll-behavior: smooth;
}

body,
h1,
label,
button,
input,
a {
	font-family: 'Roboto Slab', sans-serif !important;
}

.error {
	color: red;
	font-size: 0.875rem;
}

.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

body {
	background-image: url('../images/brickwall.webp') !important;
	/* background-color: '#136207' !important; */
	background-repeat: repeat !important; 
	background-size: auto !important; 
	background-position: top left !important; 
	margin: 0 !important; 
	padding: 0 !important;
}

/*
body {
	background-color:#D2E0FB !important;
}
*/